body {
    font-family: 'Darker Grotesque', sans-serif;
    /*display: inline;*/
}

#top_title {
    padding-left: 50px;
    font-size: 60px;
    background-color: #1B3975;
    color: #90A0B9;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    list-style-type: none;
    font-size: 30px;
}
.menu-table {
    padding-top: 80px;
    height: 450px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.menu {
    width: 20%;
    margin: auto;
    text-align: center;
    
    /*border: 1px solid black;*/
}
.content {
    width: 80%;
    
}
.dashboard-table {
    width: 80%;
    height: 120px;
    font-size: 24px;
    /*border: 1px solid black;*/
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}

.stats {
    font-size: 48px;
    font-weight: bold;
}
#stat-not-completed {
    color: red;
    font-weight: bold;
}
th {
    border-bottom: 5px solid #1B3975;
}
.li-menu {
    display: inline-block;
    text-decoration: none;
}

.li-menu::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1B3975;
    transition: width .3s;
}

.li-menu:hover::after {
    width: 100%;
    transition: width .3s;
}

input, select, text, label {
  font-size: 54px;
}
#main-body {
    text-align: left;
    font-size: 100%;
    }
form {
    font-size: 100%;
    width: 450px;
    margin: 0;
    padding-top: 80px;
}
.form_group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 3px;
}
form {
    margin: auto;
}
label {
    width: 150px;
    font-size: 110%;
    margin: 0;
    text-align: left;
}
input, select {
    width: 200px;
    font-size: 100%;
    margin: 0;
}
#submit_button {
    width: 200px;
    font-size: 100%;
    margin: auto;
}
#bottom-panel {
    padding-left: 80px;
    background-color: #1B3975;
    color: #90A0B9;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer {
    font-size: 18px;
    display: inline;
    padding-right: 25px;
}