{% extends "layout.html" %}
{% block body %}
                <table class="dashboard-table">
                    <tr>
                        <th>Bottling runs in database:</th>
                        <th>Not completed:</th>
                        <th>Completed:</th>
                    </tr>
                    <tr>
                        <td class="stats">154</td>
                        <td class="stats" id="stat-not-completed">3</td>
                        <td class="stats">151</td>
                    </tr>
                </table> 
                <table class="dashboard-table">
                    <tr>
                        <th>Current bottling:</th>
                        <th>Next bottling:</th>
                    </tr>
                    <tr>
                        <td class="stats">Machir Bay 5cl</td>
                        <td class="stats">Private Cask</td>
                    </tr>
                </table>                                          
{% endblock %}