<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet"> 
    <title>Bottling terminal</title>
</head>
<body>
    <div id="top_title">
        Bottling terminal
    </div>
<table class="menu-table">
    <tr>
        <td class="menu">
            <ul>
                <li><a class="li-menu" href="/">Dashboard</a></li>
                <li><a class="li-menu" href="/bottlingruns">Bottling runs</a></li>
                <li><a class="li-menu" href="/addbottling">Add bottling run</a></li>
                <li><a class="li-menu" href="/bottlingview">Bottling View</a></li>
                <li><a class="li-menu" href="/visitorsview">Visitors View</a></li>
                <li><a class="li-menu" href="/bh">BH</a></li>
                <li>more menu</li>
            </ul>
        </td>
        <td class="content">
            <div id="main-body">
                {% block body %}
                {% endblock %}                                          
            </div>
        </td>
    </tr>

</table>
<div id="bottom-panel">
    <ul>
        <li class="footer">Credits: Michal Besser</li>    
        <li class="footer">Useful links: <a href="https://kilchoman.distillerygenious.co.uk">KDMS</a></li>
    </ul>
</div>

</body>
</html>

