<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet"> 
    <title>Admin panel</title>
</head>
<body>
    <div id="top_title">
        <h1>Bottling terminal admin panel</h1>
        <h2>Testing branching ;)</h2>
    </div>
<div id="title-line"></div>
<table class="menu-table">
    <tr>
        <td class="menu">
            <ul>
                <li><a class="li-menu" href="/">Dashboard</a></li>
                <li><a class="li-menu" href="/bottlingruns">Bottling runs</a></li>
                <li><a class="li-menu" href="/addbottling">Add bottling run</a></li>
                <li><a class="li-menu" href="/bottlingview">Bottling View</a></li>
                <li><a class="li-menu" href="/visitorsview">Visitors View</a></li>
                <li>more menu</li>
            </ul>
        </td>
        <td class="content">
            <div id="main-body">
                {% block body %}
                {% endblock %}                                          
            </div>
        </td>
    </tr>

</table>

</body>
</html>

